<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= about %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site</p>
        </div>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Inceptos maecenas tincidunt, interdum integer convallis lacinia. Mollis nisl commodo porta ut mattis, pharetra nunc. Ut potenti magna quis varius hac ac. Lectus montes per cras placerat et volutpat. Quisque laoreet nulla sem finibus orci. Donec proin nulla himenaeos lacinia tellus ac. Fringilla facilisis dictumst felis odio pretium donec.</p>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Inceptos maecenas tincidunt, interdum integer convallis lacinia. Mollis nisl commodo porta ut mattis, pharetra nunc. Ut potenti magna quis varius hac ac. Lectus montes per cras placerat et volutpat. Quisque laoreet nulla sem finibus orci. Donec proin nulla himenaeos lacinia tellus ac. Fringilla facilisis dictumst felis odio pretium donec.</p>
        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Inceptos maecenas tincidunt, interdum integer convallis lacinia. Mollis nisl commodo porta ut mattis, pharetra nunc. Ut potenti magna quis varius hac ac. Lectus montes per cras placerat et volutpat. Quisque laoreet nulla sem finibus orci. Donec proin nulla himenaeos lacinia tellus ac. Fringilla facilisis dictumst felis odio pretium donec.</p>
    </div>
    
</body>
</html>